<div class="relative flex flex-col items-center justify-between border border-opacity-30 dark:border-opacity-30 border-primary1 rounded-[50px] p-8 dark:border-secondary1 text-primary1 dark:text-secondary1">
  <div class="max-w-5xl w-full">
    <h1 class="text-4xl font-bold pb-5">Proyectos</h1>
    <div class="flex flex-col gap-3">
      <app-card
        [image]="'simbiostack/main.png'"
        [title]="'simbiostack'"
        [github]="'https://github.com/Jony372/simbiostack'"
        [languages]="['angular', 'mysql', 'spring', 'tailwindcss']"
      />
      <app-card
        [image]="'cinema/cinema.png'"
        [title]="'cinema'"
        [github]="'https://github.com/Jony372/Cinema'"
        [languages]="['angular', 'express', 'mongodb', 'tailwindcss']"
      />
      <app-card
        [image]="'i-assist/assist.png'"
        [title]="'i-assist'"
        [github]="'https://github.com/Jony372/i-assist'"
        [languages]="['angular', 'express', 'mongodb', 'tailwindcss']"
      />
      <app-card
        [image]="'pv-andinos/p-venta.png'"
        [title]="'pv-andinos'"
        [github]="'https://github.com/Jony372/pVentaAndinos'"
        [languages]="['java', 'mysql']"
      />
      <app-card
        [image]="'airplane/main.png'"
        [title]="'airplane'"
        [github]="'https://github.com/Jony372/AirPlane'"
        [languages]="['php', 'mysql', 'bootstrap']"
      />
    </div>
  </div>
</div>
