<div class="relative flex flex-col items-center justify-between border border-opacity-30 dark:border-opacity-30 border-primary1 rounded-[50px] p-8 dark:border-secondary1 text-primary1 dark:text-secondary1">
  <div class="max-w-5xl w-full">
    <h1 class="text-4xl font-bold pb-5">Projects</h1>
    <div class="flex flex-col gap-3">
      <app-card
        [image]="'simbiostack/main.png'"
        [title]="'Simbiostack'"
        [description]="'Proyecto escolar con objetivo para simbiosis, siendo un
        punto de venta y un gestor de notas de equipos recibido en el local para
        mejorar la eficiencia en el manejo de equipos y clientes.'"
        [github]="'https://github.com/Jony372/simbiostack'"
        [languages]="['angular', 'mysql', 'spring', 'tailwindcss']"
      />
      <app-card
        [image]="'i-assist/assist.png'"
        [title]="'I-Assist'"
        [description]="'Sistema web para el manejo de asistencias escolares mediante
        codigo QR, con el objetivo de mejorar la eficiencia en el manejo de asistencias.'"
        [github]="'https://github.com/Jony372/i-assist'"
        [link]="'https://i-assist-tawny.vercel.app/login'"
        [languages]="['angular', 'express', 'mongodb', 'tailwindcss']"
      />
      <app-card
        [image]="'pv-andinos/p-venta.png'"
        [title]="'Punto de venta Andinos'"
        [description]="'Punto de venta para la heladeria Andinos, creado para
        el manejo de dinero dentro del negocio y tener un control sobre las ventas
        realizadas en cada semana y cada mes.'"
        [github]="'https://github.com/Jony372/pVentaAndinos'"
        [languages]="['java', 'mysql']"
      />
      <app-card
        [image]="'airplane/main.png'"
        [title]="'Airplane'"
        [description]="'Proyecto escolar para el aprendizaje de desarrollo web realizado
        en PHP y utilizando una base de datos relacional con MySQL, siendo un
        sistema para reserva de vuelos para un aeropuerto.'"
        [github]="'https://github.com/Jony372/AirPlane'"
        [languages]="['php', 'mysql', 'bootstrap']"
      />  
    </div>
  </div>
</div>